.background {
    width: 80%;
    height: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin: auto;
    border-radius: 20px;
    background: rgb(36,7,0);
    background: linear-gradient(90deg, rgba(36,7,0,1) 0%, rgba(142,5,49,1) 64%, rgba(178,44,44,1) 100%);
}

.conteiner {
    width: 80%;
    height: 95%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin: auto;
}

#end {
  font-size: 50px;
  display: flex;
  justify-content: center;
}

#question_name {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

form {
  width: 95%;
  height: 95%;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  display: block;
  margin: auto;
  justify-content: center;
}

.question_name {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 30px;
}

.answ {
  display: flex;
  justify-content: center;
  font-size: 20px;
} 

#alert {
  font-size: 20px;
}

#button {
    display: flex;
  }
  
  #submit_btn {
    width: 200px;
    height: 60px;
    border-radius: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    font-weight: 600;
    background: rgb(142,5,49);
    background: linear-gradient(270deg, rgba(142,5,49,1) 0%, rgb(169, 5, 5) 76%, rgb(173, 13, 13) 100%);
    border: none;
    transition: .1s ease-in-out;
  }
  
  #submit_btn:hover {
    box-shadow: 0px 0px 20px 5px rgba(107,17,217,1);
    transition: .1s ease-in-out;
  }